{% extends "base.html" %}

{% load static %}
{% block class %}class="sub_page"{% endblock class %}

{% block about_status %}active{% endblock about_status %}

{% block main %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %} " alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Feane
              </h2>
            </div>
           
              
              <div>
                <p>
                {% for i in data %}
                {{ i.Description|safe }}
                {% endfor %}
              </p>
             </div>
             
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

{% endblock main %}